%input-email{
    padding: 3%;
    border: 1px solid $color-charcoal;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: $color-black;
}