// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-sable: #060606;
$color-charcoal: #2E1503;
$color-tangerine: #FFAF6D;
$color-orange: #FFA500;

// Font-Sizes
$fz-xxxxx-large: 50px;
$fz-xxxx-large: 45px;
$fz-xxx-large:40px;
$fz-xx-large:35px;
$fz-x-large:30px;
$fz-large:20px;
$fz-medium:16px;
$fz-small: 14px;
$fz-s-small: 12px;


