.header{
    justify-content: center;
    &__img{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
      /*   @media screen and (min-width: 768px){
            width: 50%;
            height: auto;
            margin: 0;
            padding: 0;
    } */
}
}